@font-face {
  font-family: 'Alegreya Sans Medium';
  src: url('AlegreyaSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('AlegreyaSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AlegreyaSans-Medium.woff') format('woff'), /* Modern Browsers */
       url('AlegreyaSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AlegreyaSans-Medium.svg#024570d7399876b3b292897c7c9d3b83') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

